@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
   
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero{
  background-image: url('/images/jordan1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-items{
  background-image: url('/images/nike-air.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.col1 {
  background-image: url('/images/collection1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.col2 {
  background-image: url('/images/collection2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* .products{
  background-image: url('/images/argentina.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */